<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>名称</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>ID</th>
            <th>イベントID</th>
            <th>人数制限</th>
        </tr>
        {% for entry in times %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.event_id }}</td>
            <td>{{ entry.limit }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>